<div class="main-content white">
  <h2>Backstage</h2>
  <div *ngIf="meService.hasEvents()" class="category-container">
    <h3>Events</h3>
    <ul>
      <li *ngIf="meService.hasEventEdit()">
        <a routerLink="/events/editable">[Edit Events]</a> Public: {{ eventsAll }} / {{ eventsCurrent }} current 
      </li>
      <!--<li *ngIf="meService.hasEventConfirm()">
       <a>[Confirm Events]</a> Unconfirmed: {{ eventsUnconfirmedCurrent }} 
      </li>-->
      <li *ngIf="meService.hasEventCreate()">
        <a routerLink="/event/create">[Create Event]</a>
      </li>
    </ul>
  </div>
  <div *ngIf="meService.hasPages()" class="category-container">
    <h3>Pages</h3>
    <ul>
      <li *ngIf="meService.hasPageEdit()">
        <a routerLink="/pages/editable">[Edit Pages]</a> Public: {{ pagesAll }} 
      </li>
      <!--<li *ngIf="meService.hasPageConfirm()">
        <a>[Confirm Pages]</a> Unconfirmed: {{ pagesUnconfirmed }} 
      </li>
      <li *ngIf="meService.hasPageCreate() && meService.hasPageEdit()">
        <a>[Unlinked Pages]</a>
      </li>-->
      <li *ngIf="meService.hasPageCreate()">
        <a routerLink="/page/create">[Create Page]</a>
      </li>
    </ul>
  </div>

  <div *ngIf="meService.hasPages()" class="category-container">
    <h3>Shows</h3>  
    <ul>
      <li *ngIf="meService.hasPageEdit()">
        <a routerLink="/shows/editable">[Edit Shows]</a> Public: {{ showsAll }} 
      </li>
      <!--<li *ngIf="meService.hasPageConfirm()">
        <a>[Confirm Shows]</a> Unconfirmed: {{ showsUnconfirmed }} 
      </li>-->
      <li  *ngIf="meService.hasPageCreate()">
        <a routerLink="/show/create">[Create Show]</a>
      </li>
    </ul>
  </div>

  <div *ngIf="meService.hasVenues()" class="category-container">
    <h3>Venues</h3>
    <ul>
      <li *ngIf="meService.hasVenueEdit()">
        <a routerLink="/venues/editable">[Edit Venues]</a> Public: {{ venuesAll }}
      </li>
      <!--<li *ngIf="meService.hasVenueConfirm()">
        <a>[Confirm Venues]</a> Unconfirmed: {{ venuesUnconfirmed }} 
      </li>
      <li *ngIf="meService.hasVenueCreate() && meService.hasVenueEdit()" >
        <a>[Unlinked Venues]</a>
      </li>-->
      <li *ngIf="meService.hasVenueCreate()">
        <a routerLink="/venue/create">[Create Venue]</a>
      </li>
    </ul>
  </div>

  <div *ngIf="meService.hasUsers()" class="category-container">
    <h3>Users</h3>
    <ul>
      <li *ngIf="meService.hasUserEdit()">
        <a routerLink="/users/editable">[Edit Users]</a> Users: {{ usersAll }} 
      </li>
    </ul>
  </div>
</div>
<!--<datepicker></datepicker>-->