<div class="form-group">
  <label for="category">Category</label>
  <br />
  <span *ngFor="let category of categories" class="help-block category-container">
      {{ category.subcategory_name }} <i class="fa fa-times" (click)="removeCategory(category)" aria-hidden="true"></i>
  </span>
  
  <select class="form-control" #category id="category" (change)="addCategory(category.value)" name="category">
    <option [value]="null" disabled selected>Select a category</option>
    <ng-container *ngFor="let category of categoriesList">
      <optgroup label="{{category.name}}">
        <option *ngFor="let subcategory of category.subcategories" [value]="category.id+','+subcategory.id +','+subcategory.name">{{subcategory.name}}</option>
      </optgroup>
    </ng-container>
  </select>
</div>