<div class="mz-picker">
  <ul>
    <li class="mz-picker--prev mz-picker--arrow" (click)="subtractMonth()"><i class="fa fa-angle-left" aria-hidden="true"></i></li>
    <li class="mz-picker--active">{{date.format('MMMM YYYY')}}</li>
    <li class="mz-picker--next mz-picker--arrow" (click)="addMonth()"><i class="fa fa-angle-right" aria-hidden="true"></i></li>
  </ul>
  <table class="mz-picker-calendar">
     <thead>
          <tr>
            <td>Sun</td>
            <td>Mon</td>
            <td>Tue</td>
            <td>Wed</td>
            <td>Thu</td>
            <td>Fri</td>
            <td>Sat</td>
          </tr>
     </thead>
     <tbody>
        <tr *ngFor="let week of monthDays">
          <td [class.mz-picker-calendar--before]="day.inactive" (click)="!day.inactive ? selectDate(day.day) : ''" 
            [class.mz-picker-calendar--current]="day.day==date.format('D') && !day.inactive" *ngFor="let day of week">
            {{day.day}}
          </td>
        </tr>
        <!--
            <td class="mz-picker-calendar--after">1</td>
        -->
     </tbody>
  </table>
  <div class="mz-picker-time">
    <select #fieldHours (change)="selectHour(fieldHours.value)">
      <option *ngFor="let hour of hours"
        [selected]="hour == date.format('H') % 12">
          {{hour}}
      </option>
    </select>
    :
    <select #fieldMinutes (change)="selectMinute(fieldMinutes.value)">
      <option *ngFor="let minute of minutes"
        [selected]="minute >= date.format('mm') - 5 && minute <= date.format('mm')">
          {{minute}}
      </option>
    </select>
    <div [class.active]="date.format('A') == 'AM'" (click)="selectAM()" class="mz-picker-time--am">AM</div>
    <div [class.active]="date.format('A') == 'PM'" (click)="selectPM()" class="mz-picker-time--pm">PM</div>
  </div>
  <p class="mz-picker-summary">
    {{ date.format("dddd") }},
    <span>
      {{ date.format("MMMM Do YYYY") }}
    </span>
     at 
    <span>
      {{ date.format("h:mm A") }}
    </span>
  </p>
</div>
<!--
<div class="calander noselect">
  <div class="cal_head paper-shadow-top-z-2">
    <button class ="button_left" (click)="subtractMonth()">&lt;</button>
    <span id="month_label">{{date.format('MMMM YYYY')}}</span>
    <button class="button_right" (click)="addMonth()">&gt;</button>
  </div>  
  <div class="cal_body paper-shadow-bottom-z-1">
    <table>
      <tbody id ="cal">
        <tr>
          <td>Su</td>
          <td>Mo</td>
          <td>Tu</td>
          <td>We</td>
          <td>Th</td>
          <td>Fr</td>
          <td>Sa</td>
        </tr>
        <tr *ngFor="let day of days">
          <td>day</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class = "cal_output paper-shadow-top-z-1">
    <span id="outputText"></span>
  </div>
</div>-->