

td {
  height:34px;
  width:38px;
}

.calander {
  height: 300px;
  width: 280px;
  margin:20px auto;
}

.cal_head {
  font-size: 20px;
  background-color:#2196f3;
  color:#FFFFFF;
  font-weight:400;
  height: 80px;
  text-align: center;
}

.cal_head span, .button_right,
.button_left{
  background-color: white;
  border: none;
  background-color:#2196f3;
  color:#ffffff;
  display: inline-block;
  margin-top: 25px;
  text-align: center;
}

.button_right
{
  float:right;
}

.cal_head .button_left
{
  float:left;
}

.cal_body {
  padding: 5px 5px 5px 5px;
  height: 265px;
  text-align: center;
}

.cal_body .button {
  background-color: white;
  border: none;
  color: black;
  display: inline-block;
  text-align: center;
}

.cal_output {
  margin-top: 15px;
  margin-bottom: 25px;
  padding-top:5px;
  height: 25px;
  text-align: center;
  color:#000000;
}

.circle {
    border-radius: 50%;
    overflow:visible;
    width: 36px;
    height: 36px;
    background: #fff;
    border: 1px solid #666;
    text-align: center;
}

.paper-shadow-top-z-1 {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.16)
}
.paper-shadow-bottom-z-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
}
.paper-shadow-top-z-2 {
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.19)
}
.paper-shadow-bottom-z-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2)
}
.paper-shadow-top-z-3 {
    box-shadow: 0 17px 50px 0 rgba(0,0,0,.19)
}
.paper-shadow-bottom-z-3 {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24)
}
.paper-shadow-top-z-4 {
    box-shadow: 0 25px 55px 0 rgba(0,0,0,.21)
}
.paper-shadow-bottom-z-4 {
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22)
}
.paper-shadow-top-z-5 {
    box-shadow: 0 40px 77px 0 rgba(0,0,0,.22)
}
.paper-shadow-bottom-z-5 {
    box-shadow: 0 27px 24px 0 rgba(0,0,0,.2)
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* Other calendar */
.mz-picker {
  /* IGNORE, don't copy */
  font-size: 14px;
  max-width: 320px;
  position: relative;
  margin: 8px auto 0 auto;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.mz-picker:before {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: -8px;
  left: 10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}
.mz-picker ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.mz-picker ul li {
  display: inline-table;
  color: #428BCA;
}
.mz-picker ul li a {
  text-decoration: none;
  color: #428BCA;
  font-size: 18px;
}
.mz-picker ul li a:hover, .mz-picker ul li a:focus {
  color: #2F6FA8;
}
.mz-picker--prev {
  float: left;
}
.mz-picker--active {
  max-width: 300px;
}
.mz-picker--next {
  float: right;
}
.mz-picker-calendar {
  display: inline-block;
  padding: 0 12px;
  border-bottom: 1px solid #eee;
}
.mz-picker-calendar thead {
  font-weight: 700;
  text-transform: uppercase;
}
.mz-picker-calendar thead td {
  color: #212121;
  cursor: default;
}
.mz-picker-calendar thead td:hover, .mz-picker-calendar thead td:focus {
  background: transparent;
  color: #212121 !important;
}
.mz-picker-calendar td {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #727272;
  text-align: center;
  transition: all 0.1s ease-in;
  border-radius: 50%;
}
.mz-picker-calendar td:hover, .mz-picker-calendar td:focus {
  color: #fff !important;
  background: #428BCA;
}
.mz-picker-calendar td:focus {
  background: #2F6FA8;
}
.mz-picker-calendar--before, .mz-picker-calendar--after {
  color: #eee !important;
}
.mz-picker-calendar--current {
  font-weight: 700;
  color: #212121 !important;
}
.mz-picker-time {
  padding: 5px 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.mz-picker-time--am {
  margin-left: 10px;
}
.mz-picker-time--am, .mz-picker-time--pm {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #428BCA;
  width: 40px;
  height: 40px;
  padding-top: 8px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease-in;
  border-radius: 50%;
  cursor:pointer;
}
.mz-picker-time--am:hover, .mz-picker-time--am:focus, .mz-picker-time--pm:hover, .mz-picker-time--pm:focus, .active {
  color: #fff;
  background: #428BCA;
}
.mz-picker-time--am:focus, .mz-picker-time--pm:focus {
  background: #2F6FA8;
}
.mz-picker-summary {
  padding: 10px;
  margin: 0;
  text-align: center;
  color: #727272;
}
.mz-picker-summary span {
  color: #212121;
}
.mz-picker--arrow {
  cursor:pointer;
}
