<h4>Events near {{location}}</h4>
<br />
<div *ngFor="let event of events; trackBy: trackEvent" class="row event-venue-container">
  <div class="col-md-2 col-sm-2 event-details-container image-time clearfix">
    <img class="event-image img-responsive center-block" src="{{ event.imageurl }}">
    <div class="date-container visible-xs-inline-block">
      <span class="month">{{ event.UTC_start | date:'MMMM' }}</span>
      <span class="date">{{ event.UTC_start | date:'d' }}</span>
      <span class="day">{{ event.UTC_start | date:'EEEE' }}</span>
    </div>
  </div>
  <div class="col-md-7 col-sm-7 xs-row">
    <div class="row event-details-container">
      <div class="col-md-2 col-sm-2 hidden-xs alpha omega date-container">
        <span class="month">{{ event.UTC_start | date:'MMMM' }}</span>
        <span class="date">{{ event.UTC_start | date:'d' }}</span>
        <span class="day">{{ event.UTC_start | date:'EEEE' }}</span>
      </div>
      <div class="col-md-10 col-sm-10 info-container">
        <p class="event-title"><strong>{{ event.event_name }}</strong></p>
        <p class="venue-name">{{ event.venue_name }}</p>
        <span><strong>{{ event.categories[0].subcategory.name }}</strong> $20 - $40</span>
      </div>
    </div>
    <div class="row event-details-container">
      <div class="col-md-12">
        <p class="event-description">{{ event.event_description }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 alpha omega participants-container">
    <div class="participants-header"><strong>Participants</strong></div>
    <div class="scroll-container scrollbar">
      <div *ngFor="let participant of event.eventvenueparticipants" class="participant-container clearfix">
        <img *ngIf="participant.imageurl" class="pull-left" src="{{ participant.imageurl }}">
        <div class="participant">
          <p class="participant-name">{{ participant.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<p>&nbsp;</p>
<button class="btn btn-default center-block" (click)="loadNextPage()">Load more</button>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>