.event-venue-container {
  border-top:1px solid #f3f3f3;
  border-bottom:1px solid #f3f3f3;
}

.event-details-container {
  padding-top:10px;
}

.date-container {
  text-align:center;
}
.month {
  color:#ff0000;
  display:block;
}
.date {
  font-size:4em;
  color:#243a4f;
  display:block;
  margin-top:-20px;
  margin-bottom:-10px;
}
.day {
  background-color:#243a4f;
  padding:5px;
  color:#fff;
  width:100%;
}

.event-title {
  font-size:1.7em;
}
.event-description {
  margin-top:10px;
  overflow:hidden;
}
.info-container p {
  margin-bottom:0px;
}
.venue-name {
  color:#292c3f;
  font-size:1.2em;
}

.participants-header {
  background-color:#292c3f;
  color:#fff;
  padding:5px 10px;
  font-size:.9em;
}

.participant-container {
  height:32px;
  border-bottom:1px solid #f3f3f3;
}

.participant-container img {
  height:25px;
  margin:2px;
}
.participant {
  padding:5px 0px;
}
.participant-name {
  margin-bottom:0px;
  margin-left:35px;
}
.participant-category {
  font-size:.9em;
  margin-top:-5px;
}

.scroll-container {
  overflow-y:scroll;
  height: 180px;
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #292c3f;
}

.loading-container {
  text-align:center;
}

@media (max-width: 767px) {
  .container {
    overflow:hidden;
  } 
  .event-image {
    max-height:95px;
    float:left;
  }

  .event-details-container.image-time {
    background-color:#f8f8f8;
    width:100%;
    padding-bottom:12px;
  }

  .date-container {
    margin-left:10px;
  }

  .participants-container {
    margin-left:15px;
    margin-right:15px;
    margin-bottom:10px;
  }

  .scroll-container {
    overflow-y:auto;
    height: auto;
  }

  .event-venue-container {
    box-shadow: 0 4px 2px -2px #d6d6d6;
  }

  .xs-not-responsive {
    width:auto !important;
  }

  .xs-row {
    display:inline-block;
  }
}