<div class="main-content white">
<p>&nbsp;</p>

<h4>{{pagination.totalObjects}} Events Today near {{location}}, sorted by distance</h4>
<br />
<div *ngIf="loadingIndicatorVisible" class="loading-container"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
<div class="page-content">
  <ul class="event-list">
    <li *ngFor="let event of events; trackBy: trackEvent" class="event-item">
        <div class="event-image-container">
          <img class="event-image img-responsive center-block" src="{{ event.imageUrl }}">
        </div>
          <h3 class="event-title mbt-blue"><a [routerLink]="['/event',event.id]">{{ event.name }}</a></h3>
          <p class="event-venue">
            <a *ngIf="event.venue_id; else elseBlock" [routerLink]="['/venue',event.venue_id]">{{ event.venueName }}</a> &bull; {{ event.distance * .000621371 | number : '1.2-2' }} miles
            <ng-template #elseBlock>{{ event.venueName }}</ng-template>
          </p>
          <ul class="event-info">
            <li>{{ event.localStart | dateFormatter:'dddd, MMMM D' }}</li>
            
            <li *ngIf="event.local_end">
              {{ event.localStart | dateFormatter:'short_time' }} to {{ event.localEnd | dateFormatter:'short_time' }}
            </li>
            <li *ngIf="!event.local_end">
              {{ event.localStart | dateFormatter:'short_time' }}
            </li>
            <li>{{ event.categories.length > 0 ? event.categories[0].subcategory_name : '' }} $20 - $40</li>
          </ul>
          <p class="event-description">
            {{ event.description | truncate : [200 ,'...'] }}<br />
          </p>

          <div class="event-participants-container">
            <ul>
              <li *ngFor="let participant of event.participants | slice:0:8; let i=index" class="inline-images participant-images">
                <a *ngIf="participant.page_id; else noLinkImage" [routerLink]="['/page', participant.page_id]">
                  <img src="{{participant.imageurl ? participant.imageurl : 'assets/images/default_participant.png' }}"
                   [style.z-index]="50 - i" title="{{participant.name}}">
                </a>
                <ng-template #noLinkImage>
                  <img src="{{participant.imageurl ? participant.imageurl : 'assets/images/default_participant.png' }}"
                   [style.z-index]="50 - i" title="{{participant.name}}">
                </ng-template>
                
              </li>
            </ul>
            <ul style="">
              <li *ngFor="let participant of event.participants | slice:0:8; let i=index" class="inline-participant-names">
                <a *ngIf="participant.page_id; else noLink" [routerLink]="['/page', participant.page_id]"><span>{{participant.name}}, </span></a>
                <ng-template #noLink><span>{{participant.name}}, </span></ng-template>
              </li>
            </ul>
          </div>

          <div class="event-border"></div>

          <div *ngIf="event.attendingYesCount > 0; else noGoers" class="event-going-container">
            <span class="mbt-blue">
              {{event.attendingYesCount}} Going
              <span *ngIf="event.pyfsAttendingYesCount > 0;"> &bull; {{event.pyfsAttendingYesCount}} Pyfs</span>
            </span>
            <ul class="goers" style="">
              <li *ngFor="let pyf of event.pyfsAttendingYes | slice:0:8; let i=index" class="inline-images goer">
                <img src="{{pyf.avatar}}" [style.z-index]="50 - i" title="{{pyf.name}}">
              </li>
            </ul>
          </div>

          <ng-template #noGoers>
            <div class="event-going-container">
              <span class="mbt-blue">
                (noone going)
              </span>
            </div>
          </ng-template>

          <div class="event-interested-container">
            <button class="mbt-blue" (click)="nextAttendingOption(event.id)">{{ event.iattending ? attendingDict[event.iattending.rank] : 'Interested?' }}</button>
          </div>

          <div class="event-separator"></div>
    </li>
  </ul>
  <div class="sidebar">
    <div id="sidebar-map"></div>
  </div>
</div>
<p>&nbsp;</p>
<button *ngIf="pagination.totalPages > pagination.currentPage" class="btn btn-default center-block" (click)="loadNextPage()">Load more</button>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>