.inline-label {
  margin-right:15px;
}

.custom-group {
  margin-bottom:0px;
}

.inline {
  display:inline-block;
}

.venue-search {
  padding:0px 15px;
}

.sharp-border {
  border-radius:0px;
}

.venue-result-container {
  margin:0px 15px;
}

.venue-result img {
  width:25px;
  margin-right:5px;
}

.chosen-venue img {
  width:25px;
  margin-right:10px;
}

.chosen-venue i {
  margin-left:10px;
  cursor:pointer;
}
.chosen-venue i:hover {
  color:#000;
}

.venue-help-text {
  padding-top:15px !important;
  padding-bottom:0px !important;
}

.venue-form-container {
  margin:15px 15px 0px;
  text-align:left;
}

.participant-container.in-modal img {
  width:100px;
  margin-right:5px;
}

.participant-container img {
  width:25px;
  margin-right:5px;
}

.participant-container i {
  margin-left:10px;
  cursor:pointer;
}
.participant-container i:hover {
  color:#000;
}
.category-container img {
  height:25px;
  margin-right:5px;
}
.category-container i {
  margin-left:4px;
  cursor:pointer;
}
.category-container i:hover {
  color:#000;
}

.category-container {
  display:inline-block;
  margin-right:20px;
}

.participant-container.in-modal {
  text-align: left;
  margin-left:15px;
}

.no-margin-bottom {
  margin-bottom:0px;
}

.timezone-container {
  margin-left:10px;
}

.event-description {
  
}

.add-end-date {
  margin-left:15px;
}