#sidebar-map {
  height:250px;
}

.event-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.event-item {
  margin: .5em 0;
  padding: 16px 10px 0px;
}

.event-item:last-child {
  border-bottom: none;
}

.event-item ul {
  color:#000;
  list-style-type:none;
  padding:0;
}

.inline-images {
  display: inline-block;
}
.inline-images img {
	border-radius: 50%;
	border: 2px solid #fff;
  position: relative;
}


.goer img {
	width:16px;
  margin-right: -5px;
}

.participant-images {
  width:25px;
  margin-right: -2px;
}
.participant-images:last-child {
  width:25px;
  margin-right: 10px;
}
  
@supports (display: grid) {
  .event-item {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 118px auto 100px;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:
          "blockeventimage blockeventname blockeventname"
          "blockeventimage blockeventvenue blockeventvenue"
          "blockeventimage blockeventinfo blockeventinfo"
          "blockeventimage blockeventdescription blockeventdescription"
          "border border border"
          "blockeventgoing blockeventgoing blockeventinterested"
          "separator separator separator "
          ;
      }
  
  .event-image-container {
    grid-area: blockeventimage;
  }

  .event-title {
    grid-area: blockeventname;
  }

  .event-venue {
    grid-area: blockeventvenue;
  }

  .event-description {
    grid-area:blockeventdescription;
  }
  .event-info {
    grid-area:blockeventinfo;
  }

  .event-going-container {
    grid-area:blockeventgoing;
  }

  .event-interested-container {
    border-left:1px solid #ddd;
    grid-area:blockeventinterested;
  }

  .event-participants-container {
    display: none;
  }

  .event-border {
    border-bottom:1px solid #ddd;
    grid-area:border;
  }

  .event-separator {
    border-top:1px solid #ddd;
    grid-area:separator;
  }

  .event-item p {
    padding:0px 0px 5px;
  }
  .event-details-container {
    padding:0px 2px;
  }
  
  .event-details-container p {
    color:#000;
    font-weight:bold;
  }
  .event-details-container p:last-child {
    color:#333;
    font-weight:normal;
    margin-top:5px;
  }

  .event-image-container {
    max-height:200px;
    overflow:hidden;
  }
  .event-image {
    width:118px;
  }

  .event-interested-container button {
    border:none;
    width:100%;
    height:50px;
    background-color:#fff;
  }

  .inline-participant-names {
    display:inline-block;
  }

  .page-content {
    display:flex;
    flex-wrap:wrap-reverse;
  }

  .sidebar {
      /*width:25%;*/
      flex: 1 1 auto;
    }

  @media screen and (min-width: 800px) {
    .event-item {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: 150px 195px 100px auto 100px;
      grid-template-rows: auto auto auto auto auto auto auto;
      grid-template-areas:
        "blockeventimage blockeventname blockeventname blockeventname blockeventinfo "
        "blockeventimage blockeventvenue blockeventvenue blockeventvenue blockeventinfo "
        "blockeventimage blockeventdescription blockeventdescription blockeventdescription blockeventinfo "
        "blockeventimage blockeventparticipants blockeventparticipants blockeventparticipants blockeventparticipants "
        "blockeventimage border border border border "
        "blockeventimage blockeventgoing blockeventinterested blank blank "
        "separator separator separator separator separator "
        ;
    }

    .event-list {
      /*
      width:75%;
      min-width:550px;*/
      flex: 1 0 550px;
    }

    .page-content {
      display:flex;
    }

    .sidebar {
      /*width:25%;*/
      flex: 1 1 auto;
    }

    .event-participants-container {
      grid-area:blockeventparticipants;
      display:flex;
    }
  }
}


