<div class="main-content white">

<div class="backstagenav">
  <ul>
        <li *ngIf="meService.hasEventEdit()">
          <a routerLink="/events/editable">[Events]</a>
        </li>
        <li *ngIf="meService.hasPageEdit()">
          <a routerLink="/pages/editable">[Pages]</a>
        </li>
        <li *ngIf="meService.hasPageEdit()">
          <a routerLink="/shows/editable">[Shows]</a>
        </li>
        <li *ngIf="meService.hasVenueEdit()">
          <a routerLink="/venues/editable">[Venues]</a>
        </li>
  </ul>
</div>

<h2>Events</h2>
<a *ngIf="meService.hasEventCreate()" [routerLink]="['/event/create']"><button class="btn btn-primary">Create event</button></a>
<br />
<p>&nbsp;</p>
<label>
  Order by:
</label>
<select #orderBy (change)="setOrderBy(orderBy.value)">
  <option value="date">Date</option>
  <option value="venue">Venue</option>
  <option value="event">Event</option>
</select>

<label>
  Public:
</label>
<select #public (change)="setPublic(public.value)">
  <option value="">All</option>
  <option value="public">Public</option>
  <option value="private">Private</option>
</select>

<label>
  Confirmed:
</label>
<select #confirmed (change)="setConfirmed(confirmed.value)">
  <option value="">All</option>
  <option value="confirmed">Confirmed</option>
  <option value="unconfirmed">Unconfirmed</option>
</select>
<table class="table table-bordered table-striped">
  <tr>
    <th></th>
    <th>Date</th>
    <th>Name</th>
    <th></th>
    <th>Cat</th>
    <th>Venue</th>
    <th>Public</th>
    <th>Confirm</th>

  </tr>
    <tr *ngFor="let event of events">
      <td>
        <img class="image-micro-event" src="{{ event.imageIcon }}">
      </td>
      <td>{{event.localStart | dateFormatter:'YYYY MMM DD dd (hh:mma)' }}</td>
      <td>
        <a [routerLink]="['/event/edit', event.id]">
          {{event.name}}
        </a>
      </td>
      <td><a [routerLink]="['/event',event.id]"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
<td class="categorylist" >(<span *ngFor="let category of event.categories" >{{ category.subcategory_name.substring(0,2) }} </span>)</td>
      <td>{{ event.venueName }}</td>

      <td>
        <i *ngIf="event.public; else privateBlock" class="fa fa-eye" aria-hidden="true"></i>
        <ng-template #privateBlock>
          <i class="fa fa-eye-slash" aria-hidden="true"></i>
        </ng-template>
      </td>

      <td *ngIf="meService.hasEventConfirm();else noConfirm" >
        <button *ngIf="!event.confirmed" (click)="confirmEvent(event)" class="btn btn-primary">Confirm</button>
      </td>
      <ng-template #noConfirm>
      <td><p *ngIf="!event.confirmed">admin must confirm</p></td>
      </ng-template>
    </tr>

</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <span aria-hidden="true" (click)="getEventsEditable(pagination.prevPage())">&laquo; Previous</span>
    </li>
    <li *ngFor="let number of pagination.pageList" [class.active]="number === pagination.currentPage" (click)="getEventsEditable(number)">
      {{number}}
    </li>
    <li>
      <span aria-hidden="true" (click)="getEventsEditable(pagination.nextPage())">Next &raquo;</span>
    </li>
  </ul>
</nav>
</div>