<div class="container white">
  <h3>Create event</h3>
  <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
    <div class="form-group" [class.has-error]="name.invalid && name.touched">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" 
        [(ngModel)]="event.name" name="name" required #name="ngModel" maxlength="60">
      <div *ngIf="name.errors && name.touched">
        <span [class.hidden]="!name.errors.required"  class="help-block">Name is required</span>
        <span [class.hidden]="!name.errors.maxlength"  class="help-block">
          Name cannot be more than 60 characters long.
        </span>
      </div>
    </div>
    <label for="venue">Venue</label><br />
    <ng-container *ngIf="!venue">
      <span class="help-block inline">No venue chosen. </span>
      <a href="javascript:void(0)" (click)="showVenueModal()">
        <i class="fa fa-map-marker" aria-hidden="true"></i> Choose a venue
      </a>
    </ng-container>
    <span *ngIf="venue" class="help-block inline chosen-venue">
      <img *ngIf="venue.id > 0" src="{{ venue.imageUrl }}" />{{ venue.name }} <i class="fa fa-times"
       (click)="clearVenue()" aria-hidden="true"></i>
    </span>
    <br />
    <div class="form-group custom-group">
      <label for="start-time" class="inline-label">Start date</label>
      <md-input-container>
        <input mdInput [mdDatepicker]="picker" #startDate="ngModel" [(ngModel)]="startDateTime.date" placeholder="Choose a date" dateFormat="MM-DD-YYYY" date name="startdate">
        <button mdSuffix [mdDatepickerToggle]="picker"></button>
      </md-input-container>
      <md-datepicker #picker></md-datepicker>
      <md-error *ngIf="startDate.errors">
        Enter a <strong>valid</strong> date
      </md-error>
    </div>
    <div class="form-group custom-group">
      <label for="start-time" class="inline-label">Start time</label>
      <md-input-container>
        <input mdInput type="time" name="start_time" [(ngModel)]="startDateTime.time"> 
      </md-input-container>
      <span class="timezone-container">
        <a href="javascript:void(0)" (click)="timezoneModalVisible=true">{{startDateTime.timezone}}</a>
      </span>
    </div>
    <label>Participants</label><br />
    <span *ngIf="participants.length == 0" class="help-block inline">No participants chosen. </span>

    <span *ngFor="let participant of participants" class="help-block participant-container">
      <img *ngIf="participant.id > 0" src="{{ participant.imageUrl }}" />
      {{ participant.name }} <i class="fa fa-times" (click)="removeParticipant(participant)" aria-hidden="true"></i></span>
    <a href="javascript:void(0)" (click)="showParticipantModal()">
      <i class="fa fa-user-plus" aria-hidden="true"></i> Add participant
    </a>

    <br />
    <label>Shows</label><br />
    <span *ngIf="shows.length == 0" class="help-block inline">No shows chosen. </span>

    <span *ngFor="let show of shows" class="help-block participant-container">
      <img *ngIf="show.id > 0" src="{{ show.imageUrl }}" />
      {{ show.name }} <i class="fa fa-times" (click)="removeShow(show)" aria-hidden="true"></i></span>
    <a href="javascript:void(0)" (click)="showShowModal()">
      <i class="fa fa-plus" aria-hidden="true"></i> Add show
    </a>

    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category" [(ngModel)]="eventCategory" name="category">
        <ng-container *ngFor="let category of categories">
          <optgroup label="{{category.name}}">
            <option *ngFor="let subcategory of category.subcategories" [value]="category.id+','+subcategory.id">{{subcategory.name}}</option>
          </optgroup>
        </ng-container>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control event-description" id="description" placeholder="Description" [(ngModel)]="event.description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="visibility">Visibility</label>
      <select class="form-control" id="visibility" [(ngModel)]="event.public" name="visibility">
        <option [value]="1" selected>Public</option>
        <option [value]="0">Private</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!eventForm.form.valid">Submit</button>
    <button type="button" class="btn btn-danger" (click)="goBack()">Cancel</button>
  </form>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>

<!--
    VENUES MODAL
-->
<div class="cd-popup" [class.is-visible]="venueModalVisible == true" role="alert">
	<div class="cd-popup-container">
    <ng-container *ngIf="!tempVenue">
      <p>Search locations.</p>
      <div class="input-group venue-search">
        <input #venueSearch type="text" class="form-control sharp-border" (keyup)="searchVenues(venueSearch.value)" placeholder="Search venues">
        <span class="input-group-addon sharp-border"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
      <div class="list-group venue-result-container">
        <button *ngFor="let result of venueResults | async" (click)="venueSearch.value = '';chooseVenue(result)" type="button" class="list-group-item list-group-item-action venue-result sharp-border">
          <img src="{{ result.imageurl }}"> {{ result.name }}
        </button>
      </div>
      <p class="venue-help-text">Can't find a venue? <a href="javascript:void(0)" (click)="addManualVenue()">Add manually</a></p>
    </ng-container>
    <ng-container *ngIf="tempVenue && venueGeocodeResults.length == 0">
      <p>Create a custom venue</p>
      <div class="venue-form-container">
        <div *ngIf="venueResultError" class="alert alert-danger" role="alert">No results found for that address</div>
        <form (ngSubmit)="manualVenueSubmit()" #venueForm="ngForm">
          <div class="form-group" [class.has-error]="venuename.invalid && venuename.touched">
            <label for="venue-name">Name</label>
            <input type="text" class="form-control" id="venue-name" placeholder="Name" 
              [(ngModel)]="tempVenue.name" name="venueName" required #venuename="ngModel" maxlength="60">
            <div *ngIf="venuename.errors  && venuename.touched">
              <span [class.hidden]="!venuename.errors.required"  class="help-block">Name is required</span>
              <span [class.hidden]="!venuename.errors.maxlength"  class="help-block">
                Name cannot be more than 60 characters long.
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="venue-street-adress">Street address</label>
            <input type="text" class="form-control" id="venue-street-address" placeholder="Street address" 
              [(ngModel)]="tempVenue.streetAddress" name="venueStreetAddress" required #venueStreetAddress="ngModel" />
              <span class="help-block">e.g. 5322 Otter Ln, Chicago, IL 60478 or The Willis Tower</span>
            <div *ngIf="venueStreetAddress.errors  && venueStreetAddress.touched">
              <span [class.hidden]="!venueStreetAddress.errors.required"  class="help-block">Street address is required</span>
            </div>
          </div>
        </form>
      </div>
      <p class="venue-help-text">Don't want to enter manually? <a href="javascript:void(0)" (click)="tempVenue=null">Use our search</a></p>
    </ng-container>
    <ng-container *ngIf="venueGeocodeResults.length > 0">
      <p>We found {{ venueGeocodeResults.length | i18nPlural: resultMapping }}</p>
      <div class="list-group venue-result-container">
        <button *ngFor="let location of venueGeocodeResults" (click)="useManualResult(location)" type="button" class="list-group-item sharp-border">
          {{ location.formatted_address }}
        </button>
      </div>
      <p class="venue-help-text">Wrong results? <a href="javascript:void(0)" (click)="venueGeocodeResults = []">Edit address</a></p>
    </ng-container>
    <br />
		<ul *ngIf="tempVenue && venueGeocodeResults.length == 0" class="cd-buttons">
			<li><div (click)="manualVenueSubmit()">Save</div></li>
			<li><div (click)="closeVenueModal()">Cancel</div></li>
		</ul>
		<div class="cd-popup-close img-replace" (click)="closeVenueModal()">Close</div>
	</div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->

<!--
    PARTICIPANTS MODAL
-->
<div class="cd-popup" [class.is-visible]="participantModalVisible == true" role="alert">
	<div class="cd-popup-container">
    <ng-container *ngIf="!tempParticipant">
      <p>Search pages.</p>
      <div class="input-group venue-search">
        <input #participantSearch type="text" class="form-control sharp-border"
         (keyup)="searchParticipants(participantSearch.value)" placeholder="Search participants">
        <span class="input-group-addon sharp-border"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
      <div class="list-group venue-result-container">
        <button *ngFor="let result of participantResults | async" (click)="participantSearch.value = '';chooseParticipant(result)" type="button" class="list-group-item list-group-item-action venue-result sharp-border">
          <img src="{{ result.imageurl }}"> {{ result.name }}
        </button>
      </div>
      <p class="venue-help-text">Can't find the participant? <a href="javascript:void(0)" (click)="addManualParticipant()">Add manually</a></p>
    </ng-container>
    <ng-container *ngIf="tempParticipant">
      <p *ngIf="tempParticipant.id < 0;else elseBlock">Create a custom venue</p>
      <ng-template #elseBlock><p>Choose start time</p>
        <span class="help-block participant-container in-modal">
          <img src="{{ tempParticipant.imageUrl }}" />
          {{ tempParticipant.name }}
        </span>
      </ng-template>
      <div class="venue-form-container">
        <div *ngIf="venueResultError" class="alert alert-danger" role="alert">No results found for that address</div>
        <form (ngSubmit)="manualVenueSubmit()" #venueForm="ngForm">
          <div *ngIf="tempParticipant.id < 0" class="form-group no-margin-bottom" [class.has-error]="venuename.invalid && venuename.touched">
            <label for="venue-name">Name</label>
            <input type="text" class="form-control" id="venue-name" placeholder="Name" 
              [(ngModel)]="tempParticipant.name" name="venueName" required #venuename="ngModel" maxlength="60">
            <div *ngIf="venuename.errors  && venuename.touched">
              <span [class.hidden]="!venuename.errors.required"  class="help-block">Name is required</span>
              <span [class.hidden]="!venuename.errors.maxlength"  class="help-block">
                Name cannot be more than 60 characters long.
              </span>
            </div>
          </div>
          <div class="form-group custom-group">
            <label for="participant-start-time" class="inline-label">Start time</label>
            <md-input-container>
              <input mdInput id="participant-start-time" type="time" name="participant_start_time" [(ngModel)]="tempParticipant.startTime">
            </md-input-container>
          </div>
          <div *ngIf="tempParticipant.id < 0" class="form-group">
            <label for="participant-description">Description</label>
            <textarea [(ngModel)]="tempParticipant.description" class="form-control" id="participant-description" name="participantDescription"></textarea>
          </div>
        </form>
      </div>
      <p *ngIf="tempParticipant.id < 0;else participantBack" class="venue-help-text">Don't want to enter manually? <a href="javascript:void(0)" (click)="tempParticipant=null">Use our search</a></p>
      <ng-template #participantBack>
        <p class="venue-help-text">Make a mistake? <a href="javascript:void(0)" (click)="tempParticipant=null">Go back</a></p>
      </ng-template>
    </ng-container>
    <br />
		<ul *ngIf="tempParticipant" class="cd-buttons">
			<li><div (click)="manualParticipantSubmit()">Save</div></li>
			<li><div (click)="closeParticipantModal()">Cancel</div></li>
		</ul>
		<div class="cd-popup-close img-replace" (click)="closeParticipantModal()">Close</div>
	</div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->

<!--
    SHOWS MODAL
-->
<div class="cd-popup" [class.is-visible]="showModalVisible == true" role="alert">
	<div class="cd-popup-container">
      <p>Search shows.</p>
      <div class="input-group venue-search">
        <input #showSearch type="text" class="form-control sharp-border"
         (keyup)="searchShows(showSearch.value)" placeholder="Search shows">
        <span class="input-group-addon sharp-border"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
      <div class="list-group venue-result-container">
        <button *ngFor="let result of showResults | async" (click)="showSearch.value = '';chooseShow(result)" type="button" class="list-group-item list-group-item-action venue-result sharp-border">
          <img src="{{ result.imageurl }}"> {{ result.name }}
        </button>
      </div>
      <br />
      <br />
		<div class="cd-popup-close img-replace" (click)="closeShowModal()">Close</div>
	</div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->

<!--
    TIMEZONE MODAL
-->
<div class="cd-popup" [class.is-visible]="timezoneModalVisible == true" role="alert">
	<div class="cd-popup-container">
    <p>Choose timezone</p>
    <form>
      <div class="form-group venue-search">
        <select [(ngModel)]="tempTimezone" class="form-control sharp-border" name="timezone">
          <option *ngFor="let timezone of timezones" [value]="timezone.id">{{timezone.name}}</option>
        </select>
      </div>
    </form>
    <br />
		<ul class="cd-buttons">
			<li><div (click)="saveTimezone()">Save</div></li>
			<li><div (click)="closeTimezoneModal()">Cancel</div></li>
		</ul>
		<div class="cd-popup-close img-replace" (click)="closeTimezoneModal()">Close</div>
	</div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->