<div class="container">
  <h3>Edit event</h3>
  <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
    <div class="form-group" [class.has-error]="name.invalid && name.touched">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" 
        [(ngModel)]="event.name" name="name" required #name="ngModel" maxlength="60">
      <div *ngIf="name.errors && name.touched">
        <span [class.hidden]="!name.errors.required"  class="help-block">Name is required</span>
        <span [class.hidden]="!name.errors.maxlength"  class="help-block">
          Name cannot be more than 60 characters long.
        </span>
      </div>
    </div>
    <div class="form-group custom-group">
      <label for="start-time" class="inline-label">Start date</label>
      <md-input-container>
        <input mdInput [mdDatepicker]="picker" #startDate="ngModel" [(ngModel)]="event.startDate" placeholder="Choose a date" dateFormat="MM-DD-YYYY" date name="startdate">
        <button mdSuffix [mdDatepickerToggle]="picker"></button>
      </md-input-container>
      <md-datepicker #picker></md-datepicker>
      <md-error *ngIf="startDate.errors">
        Enter a <strong>valid</strong> date
      </md-error>
    </div>
    <div class="form-group custom-group">
      <label for="start-time" class="inline-label">Start time</label>
      <md-input-container>
        <input mdInput type="time" name="start_time" [(ngModel)]="event.startTime">
      </md-input-container>
    </div>
    <label for="venue">Venue</label><br />
    <span class="help-block inline">No venue chosen. </span>
    <a href="javascript:void(0)" (click)="showVenueModal()">
      <i class="fa fa-map-marker" aria-hidden="true"></i> Choose a venue
    </a>
    <ng-container *ngIf="customVenue">
    <div class="input-group">
      <input type="text" class="form-control" id="venue" placeholder="Venue" [(ngModel)]="event.venue" name="venue">
      <span class="input-group-btn">
        <button (click)="showVenueModal()" class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
    </div>
    </ng-container>
    <br />
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" placeholder="Description" [(ngModel)]="event.description" name="description">
    </div>
    <div class="form-group">
      <label for="visibility">Visibility</label>
      <select class="form-control" id="visibility" [(ngModel)]="event.public" name="visibility">
        <option [value]="1" selected>Public</option>
        <option [value]="0">Private</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!eventForm.form.valid">Submit</button>
    <button type="button" class="btn btn-danger" (click)="goBack()">Cancel</button>
  </form>
  <p>Form status: {{ eventForm.status | json }}</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>

<div class="cd-popup" [class.is-visible]="venueModalVisible == true" role="alert">
	<div class="cd-popup-container">
		<p>Search locations.</p>
    <div class="input-group venue-search">
      <input #venueSearch type="text" class="form-control sharp-border" (keyup)="searchVenues(venueSearch.value)" placeholder="Search venues">
      <span class="input-group-addon sharp-border"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
    <div class="list-group venue-result-container">
      <button *ngFor="let result of venueResults | async"  type="button" class="list-group-item list-group-item-action venue-result sharp-border">
        <img src="{{ result.imageurl }}"> {{ result.name }}
      </button>
    </div>
    <br />
    <br />
		<ul class="cd-buttons">
			<li><div (click)="selectLocation()">Save</div></li>
			<li><div (click)="venueModalVisible=false">Cancel</div></li>
		</ul>
		<div class="cd-popup-close img-replace" (click)="venueModalVisible=false">Close</div>
	</div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->