<div class="container white">
<h2>Events</h2>
<a *ngIf="meService.hasEventCreate()" [routerLink]="['/event/create']"><button class="btn btn-primary">Create event</button></a>
<br />
<table class="table">
  <thead>
    <th>Date</th>
    <th>Name</th>
    <th>Venue</th>
    <th>Public</th>
    <th>Confirm</th>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{event.local_start | dateFormatter:'YYYY MMM DD' }}</td>
      <td>
        <a [routerLink]="['/event/edit', event.id]">
          {{event.name}}
        </a>
      </td>
      <td>{{ event.venue_name }}</td>
      <td>
        <i *ngIf="event.public; else privateBlock" class="fa fa-eye" aria-hidden="true"></i>
        <ng-template #privateBlock>
          <i class="fa fa-eye-slash" aria-hidden="true"></i>
        </ng-template>
      </td>
      <td><button *ngIf="!event.confirmed" class="btn btn-primary">Confirm</button></td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-button" *ngFor="let number of pagination.pageList" [class.active]="number === pagination.currentPage" (click)="getEventsEditable(number)">
      {{number}}
    </li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>