
<div class="main-content white">
  <ul class=item-list>
    <li *ngIf="event" class="eventdetail-item-grid list-item">
      <div class="eventdetail-image-container-container">
        <div class="eventdetail-image-container">
          <img class="eventdetail-image img-responsive center-block" src="{{ event.imageUrl }}">
        </div>
      </div>
      <h3 class="eventdetail-name"><a [routerLink]="['/event',event.id]">{{ event.name }}</a></h3>
      <p class="eventdetail-venue">
        {{ event.venueName }} &bull; {{ event.distance * .000621371 | number : '1.2-2' }} miles
            <ng-template #elseBlock>{{ event.venueName }}</ng-template>
      </p>
      <p class="eventdetail-date">
          {{ event.local_start | dateFormatter:'dddd, MMMM D' }}
      </p>

      <ul class="eventdetail-info">
        
        <li *ngIf="event.local_end">
          {{ event.local_start | dateFormatter:'short_time' }} to {{ event.local_end | dateFormatter:'short_time' }}
        </li>
        <li *ngIf="!event.local_end">
          {{ event.local_start | dateFormatter:'short_time' }}
        </li>
        <li>{{ event.categories.length > 0 ? event.categories[0].subcategory_name : '' }} $20 - $40</li>
      </ul>

      <div *ngIf="event.attendingYesCount > 0; else noGoers" class="eventdetail-going-container">
        <span class="mbt-blue">
          {{event.attendingYesCount}} Going
          <span *ngIf="event.pyfsAttendingYesCount > 0;"> &bull; {{event.pyfsAttendingYesCount}} Pyfs</span>
        </span>
        <ul class="goers" style="">
          <li *ngFor="let pyf of event.pyfsAttendingYes | slice:0:8; let i=index" class="inline-images goer">
            <img src="{{pyf.avatar}}" [style.z-index]="50 - i" title="{{pyf.name}}">
          </li>
        </ul>
      </div>

      <ng-template #noGoers>
        <div class="eventdetail-going-container">
          <span class="mbt-blue">
            (noone going)
          </span>
        </div>
      </ng-template>
      <div class="eventdetail-interested-container">
        <button class="mbt-blue">Interested?</button>
      </div>


    </li>
  </ul>

  <ul class="item-list">
    <li class="list-item venue-item-grid">
      <div class="venue-image-container item-image-container">
        <img class="item-image img-responsive center-block" src="{{ event.imageUrl }}">
      </div>
      <h3 class="venue-name item-name">

       <a *ngIf="event.venueId; else noVenueLinkBlock" [routerLink]="['/venue',event.venueId]">{{ event.venueName }}</a>
       <ng-template #noVenueLinkBlock>{{ event.venueName }}</ng-template>
      </h3>  

      <div class="venue-info item-info">
        [Neighborhood]<br />
         {{ event.streetAddress }}<br />
        {{ event.city }}, {{ event.state }} {{ event.postalCode }}<br />
        <br />
        {{ event.distance * .000621371 | number : '1.2-2' }} miles <br />
        [Directions Link]
      </div>
    </li>
  </ul>

  <p class="event-description">
    {{ event.description | truncate : [200 ,'...'] }}<br />
  </p>

  <ng-container *ngIf="event.participantspivot.length > 0">
    <h4 >Scheduled to Appear:</h4>
    <ul class="item-list">
      <li *ngFor="let participant of event.participantspivot" class="participant-item-grid list-item">
        <div class="participant-image-container item-image-container">
          <img class="item-image img-responsive center-block" src="{{ participant.imageUrl }}" title="{{ participant.name }}">
        </div>
        <h3 class="participant-name">
        <a *ngIf="participant.pageId; else noParticipantLinkBlock" [routerLink]="['/page',participant.pageId]">{{ participant.name }}</a>
        <ng-template #noParticipantLinkBlock>{{ participant.name }}</ng-template>
        </h3>    
        <div class="participant-info">
        {{ participant.info }}
        </div>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="event.showspivot.length > 0">
    <h4 >Event of this Show:</h4>
    <ul class="item-list">
      <li *ngFor="let show of event.showspivot" class="show-item-grid list-item">
        <div class="show-image-container item-image-container">
          <img class="item-image img-responsive center-block" src="{{ show.imageUrl }}" title="{{ show.name }}">
        </div>
        <h3 class="show-name">
        
        <a *ngIf="show.showId; else noProducerLinkBlock" [routerLink]="['/show',show.showId]">{{ show.name }}</a>
        <ng-template #noProducerLinkBlock>{{ show.name }}</ng-template>
        </h3>    
        <div class="show-info">
        {{ show.info }}
        </div>
      </li>
    </ul>
  </ng-container>

  <ng-container>
    <h4 *ngIf="event.producerspivot.length > 0" >Produced By</h4>
    <ul *ngIf="event.producerspivot.length > 0" class="item-list">
      <li *ngFor="let producer of event.producerspivot" class="producer-item-grid list-item">
        <div class="producer-image-container item-image-container">
          <img class="item-image img-responsive center-block" src="{{ producer.imageUrl }}" title="{{ producer.name }}">
        </div>
        <h3 class="producer-name">
        <a *ngIf="producer.pageId; else noProducerLinkBlock" [routerLink]="['/page',producer.pageId]">{{ producer.name }}</a>
        <ng-template #noProducerLinkBlock>{{ producer.name }}</ng-template>
        </h3>    
        <div class="producer-info">
    {{ producer.info }}

        </div>
      </li>
    </ul>
  </ng-container>

  <br/>
  <button class="btn btn-default" (click)="goEdit()">Edit</button>
  <button class="btn btn-primary" (click)="goBack()">Back</button>
</div>