<div class="main-content white">
<h2>Events</h2>
<a *ngIf="meService.hasEventCreate()" [routerLink]="['/event/create']"><button class="btn btn-primary">Create event</button></a>
<br />
<p>&nbsp;</p>
<label>
  Order by:
</label>
<select #orderBy (change)="setOrderBy(orderBy.value)">
  <option value="date">Date</option>
  <option value="venue">Venue</option>
  <option value="event">Event</option>
</select>

<label>
  Public:
</label>
<select #public (change)="setPublic(public.value)">
  <option value="">All</option>
  <option value="public">Public</option>
  <option value="private">Private</option>
</select>

<label>
  Confirmed:
</label>
<select #confirmed (change)="setConfirmed(confirmed.value)">
  <option value="">All</option>
  <option value="confirmed">Confirmed</option>
  <option value="unconfirmed">Unconfirmed</option>
</select>
<table class="table table-bordered table-striped">
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Venue</th>
    <th>Public</th>
    <th>Confirm</th>
  </tr>
    <tr *ngFor="let event of events">
      <td>{{event.local_start | dateFormatter:'YYYY MMM DD' }}</td>
      <td>
        <a [routerLink]="['/event/edit', event.id]">
          {{event.name}}
        </a>
      </td>
      <td>{{ event.venue_name }}</td>
      <td>
        <i *ngIf="event.public; else privateBlock" class="fa fa-eye" aria-hidden="true"></i>
        <ng-template #privateBlock>
          <i class="fa fa-eye-slash" aria-hidden="true"></i>
        </ng-template>
      </td>
      <td><button *ngIf="!event.confirmed" (click)="confirmEvent(event)" class="btn btn-primary">Confirm</button></td>
    </tr>

</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <span aria-hidden="true">&laquo; Previous</span>
    </li>
    <li *ngFor="let number of pagination.pageList" [class.active]="number === pagination.currentPage" (click)="getEventsEditable(number)">
      {{number}}
    </li>
    <li>
      <span aria-hidden="true">Next &raquo;</span>
    </li>
  </ul>
</nav>
</div>