
/*Shawn's new styles */
.item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-item{
  margin: .5em 0;
  padding: 16px 10px 0px;
}

.list-item ul {
  color:#000;
  list-style-type:none;
  padding:0;
}

.item-image-container {
  max-height:118px;
  max-width:118px;
  overflow-y: hidden;
}

.item-image-container img {
  width:118px;
}

.item-tallimage-container {
  max-height:200px;
  max-width:118px;
  overflow-y: hidden;
}

/* Specific to the EVENTDETAILS */

.eventdetail-image-container-container{

}

.eventdetail-image-container {
  text-align:center;
  display:block;
  margin:auto;
  max-height:600px;
  max-width:400px;
  overflow-y: hidden;
}
.eventdetail-image-container img{

  min-width:100%;
  max-width:100%;

  margin:0 auto;

}

.eventdetail-interested-container button, .pagedetail-interested-container button {
  border:none;
  width:100%;
  height:50px;
  background-color:#fff;
}

.eventdetail-description {
  white-space:pre-line;
}

.inline-images {
  display: inline-block;
}
.inline-images img {
	border-radius: 50%;
	border: 2px solid #fff;
  position: relative;
}

.goer img, .liker img {
	width:16px;
  margin-right: -5px;
}

/* our grids */

@supports (display: grid) {

  .eventdetail-item-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: minmax(200px, 1fr) 100px auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:
      "blockeventdetailimage blockeventdetailimage ..."
      "blockeventdetailname blockeventdetailname ... "
      "blockeventdetailvenue blockeventdetailvenue ..."
      "blockeventdetaildate blockeventdetaildate ..."
      "blockeventdetailinfo blockeventdetailinfo ..."
      "blockeventdetailgoing blockeventdetailinterested ..."      
      "blockeventdetaildescription blockeventdetaildescription ..."   
      ;
  }

  .eventdetail-image-container-container{
    grid-area: blockeventdetailimage;
  }

  .eventdetail-name {
    grid-area: blockeventdetailname;
  }
  .eventdetail-venue {
    grid-area: blockeventdetailvenue;
  }
  .eventdetail-date {
        grid-area: blockeventdetaildate;
  }
  .eventdetail-info {
        grid-area: blockeventdetailinfo;
  }
  .eventdetail-going-container {
        grid-area: blockeventdetailgoing;
  }
  .eventdetail-interested-container {
        grid-area: blockeventdetailinterested;
  }
  .eventdetail-description {
        grid-area: blockeventdetaildescription;
  }

  .pagedetail-item-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: minmax(200px, 1fr) 100px 1fr;
    grid-template-rows: auto auto auto auto auto auto ;
    grid-template-areas:
      "blockpagedetailimage blockpagedetailimage ..."
      "blockpagedetailname blockpagedetailname ... "
      "blockpagedetailinfo blockpagedetailinfo ..."
      "blockpagedetaillikes blockpagedetailinterested ..."      
      ;
  }

  .pagedetail-image-container-container {
    grid-area: blockpagedetailimage;
  }

  .pagedetail-name {
    grid-area: blockpagedetailname;
  }

  .pagedetail-info {
    grid-area: blockpagedetailinfo;
  }
  .pagedetail-liked-container {
    grid-area: blockpagedetaillikes;
  }
  .pagedetail-interested-container {
    grid-area: blockpagedetailinterested;
  }

  .showdetail-item-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: minmax(200px, 1fr) 100px 1fr;
    grid-template-rows: auto auto auto auto auto auto ;
    grid-template-areas:
      "blockshowdetailimage blockshowdetailimage ..."
      "blockshowdetailname blockshowdetailname ... "
      "blockshowdetailinfo blockshowdetailinfo ..."
      "blockshowdetaillikes blockshowdetailinterested ..."      
      ;
  }

  .showdetail-image-container-container {
    grid-area: blockshowdetailimage;
  }

  .showdetail-name {
    grid-area: blockshowdetailname;
  }

  .showdetail-info {
    grid-area: blockshowdetailinfo;
  }
  .showdetail-liked-container {
    grid-area: blockshowdetaillikes;
  }
  .showdetail-interested-container {
    grid-area: blockshowdetailinterested;
  }

  .venuedetail-item-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: minmax(200px, 1fr) 100px 1fr;
    grid-template-rows: auto auto auto auto auto auto ;
    grid-template-areas:
      "blockvenuedetailimage blockvenuedetailimage ..."
      "blockvenuedetailname blockvenuedetailname ... "
      "blockvenuedetailinfo blockvenuedetailinfo ..."
      "blockvenuedetaillikes blockvenuedetailinterested ..."      
      ;
  }

  .venuedetail-image-container-container {
    grid-area: blockvenuedetailimage;
  }

  .venuedetail-name {
    grid-area: blockvenuedetailname;
  }

  .venuedetail-info {
    grid-area: blockvenuedetailinfo;
  }
  .venuedetail-liked-container {
    grid-area: blockvenuedetaillikes;
  }
  .venuedetail-interested-container {
    grid-area: blockvenuedetailinterested;
  }

  .userdetail-item-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: minmax(200px, 1fr) 100px 1fr;
    grid-template-rows: auto auto auto auto auto auto ;
    grid-template-areas:
      "blockuserdetailimage blockuserdetailimage ..."
      "blockuserdetailname blockuserdetailname ... "
      "blockuserdetailinfo blockuserdetailinfo ..."
      "blockuserdetailfollowers blockuserdetailfollow ..."      
      ;
  }

  .userdetail-image-container-container {
    grid-area: blockuserdetailimage;
  }

  .userdetail-name {
    grid-area: blockuserdetailname;
  }

  .userdetail-followers-container {
    grid-area: blockuserdetailfollowers;
  }

  .userdetail-follow-container {
    grid-area: blockuserdetailfollow;
  }

  .event-item-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 118px auto;
    grid-template-rows: min-content min-content min-content 1fr;
    grid-template-areas:
      "blockeventimage blockeventname"
      "blockeventimage blockeventvenue"
      "blockeventimage blockeventinfo"
      "blockeventimage ..."
      ;
  }

  .event-image-container {
    grid-area: blockeventimage;
  }
  .event-name {
    grid-area: blockeventname;
  }
  .event-venue {
    grid-area: blockeventvenue;
  }
  .event-info {
    grid-area: blockeventinfo;
  }

  .venue-item-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 118px auto;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
      "blockvenueimage blockvenuename"
      "blockvenueimage blockvenueinfo"
      "blockvenueimage ..."
      ;
  }

  .venue-image-container {
    grid-area: blockvenueimage;
  }
  .venue-name {
    grid-area: blockvenuename;
  }
  .venue-info {
    grid-area: blockvenueinfo;
  }


  .participant-item-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 118px auto;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
      "blockparticipantimage blockparticipantname"
      "blockparticipantimage blockparticipantinfo"
      "blockparticipantimage ..."
      ;
  }

  .participant-image-container {
    grid-area: blockparticipantimage;
  }
  .participant-name {
    grid-area: blockparticipantname;
  }
  .participant-info {
    grid-area: blockparticipantinfo;
  }

  .producer-item-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 118px auto;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
      "blockproducerimage blockproducername"
      "blockproducerimage blockproducerinfo"
      "blockproducerimage ..."
      ;
  }

  .producer-image-container {
    grid-area: blockproducerimage;
  }
  .producer-name {
    grid-area: blockproducername;
  }
  .producer-info {
    grid-area: blockproducerinfo;
  }



  .show-item-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 118px auto;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
      "blockshowimage blockshowname"
      "blockshowimage blockshowinfo"
      "blockshowimage ..."
      ;
  }

  .show-image-container {
    grid-area: blockshowimage;
  }
  .show-name {
    grid-area: blockshowname;
  }
  .show-info {
    grid-area: blockshowinfo;
  }


  @media screen and (min-width: 800px) {

    .item-list {
      min-width:550px;
    }



    .eventdetail-item-grid {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: 281px 195px 100px auto;
      grid-template-rows: min-content min-content min-content min-content min-content 1fr ;
      grid-template-areas:
        "blockeventdetailimage blockeventdetailname blockeventdetailname blockeventdetailname "
        "blockeventdetailimage blockeventdetailvenue blockeventdetailvenue blockeventdetailvenue "
        "blockeventdetailimage blockeventdetaildate blockeventdetaildate ..."
        "blockeventdetailimage blockeventdetailinfo blockeventdetailinfo ..."
        "blockeventdetailimage blockeventdetailgoing blockeventdetailinterested ..."  
        "blockeventdetailimage blockeventdescription blockeventdescription blockeventdescription "    
        ;
    }

    .eventdetail-description {
      grid-area: blockeventdescription;
    }

    .eventdetail-name {
      font-size: 30px;
    }

    .eventdetail-venue-name {
      font-size: 20px;
      color: #125ebc;
    }

    .venuedetail-item-grid {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: 281px 195px 100px auto;
      grid-template-rows: min-content min-content 1fr;
      grid-template-areas:
        "blockvenuedetailimage blockvenuedetailname blockvenuedetailname blockvenuedetailname "
        "blockvenuedetailimage blockvenuedetailinfo blockvenuedetailinfo blockvenuedetailinfo "
        "blockvenuedetailimage blockvenuedetaillikes blockvenuedetailinterested ..."      
        ;
    }

    .venuedetail-name {
      font-size: 30px;
    }

    .pagedetail-item-grid {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: 281px 195px 100px auto;
      grid-template-rows: min-content min-content 1fr;
      grid-template-areas:
        "blockpagedetailimage blockpagedetailname blockpagedetailname blockpagedetailname "
        "blockpagedetailimage blockpagedetailinfo blockpagedetailinfo blockpagedetailinfo "
        "blockpagedetailimage blockpagedetaillikes blockpagedetailinterested ..."      
        ;
    }

    .pagedetail-name {
      font-size: 30px;
    }

    .showdetail-item-grid {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: 281px 195px 100px auto;
      grid-template-rows: min-content min-content 1fr;
      grid-template-areas:
        "blockshowdetailimage blockshowdetailname blockshowdetailname blockshowdetailname"
        "blockshowdetailimage blockshowdetailinfo blockshowdetailinfo blockshowdetailinfo"
        "blockshowdetailimage blockshowdetaillikes blockshowdetailinterested ..."      
        ;
    }

    .showdetail-name {
      font-size: 30px;
    }

    .userdetail-item-grid {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: 281px 195px 100px auto;
      grid-template-rows: min-content min-content 1fr;
      grid-template-areas:
        "blockuserdetailimage blockuserdetailname blockuserdetailname ... "
        "blockuserdetailimage blockuserdetailinfo blockuserdetailinfo ..."
        "blockuserdetailimage blockuserdetailfollowers blockuserdetailfollow ..."      
        ;
    }

    .userdetail-name {
      font-size: 30px;
    }

  }
}


