<div class="main-content white padded">
<div class="login-container">
		<h1>Login today.</h1>
    <!--
		<form action="javascript:void(0);" method="get">
      <div class="form-control">
				<input class="input-control" type="text" required placeholder="Email" />
      </div>
      <div class="form-control">
				<input class="input-control" type="password" required placeholder="Password" />
      </div>
				<p><a href="#">Forgot Password?</a></p>
				<input class="btn default" type="submit" value="Login">
		</form>
		<p><span class="btn-round">or</span></p>
    -->

    <button class="btn facebook" (click)="facebookLogin()">
      <i class="fa fa-facebook" aria-hidden="true"></i>Login Using Facebook
    </button>
    <br />
    <button class="btn google" (click)="loginWithGoogle()">
      <i class="fa fa-google" aria-hidden="true"></i>Login with Google
    </button>
	</div> <!-- end login -->
</div>