.follow-main {
  display:flex;
  flex-wrap:nowrap;
}

.follow-toolbar {
  flex:0 0 50px;
  background-color:#ddd;
  text-align:center;
}

.follow-toolbar i {
  cursor:pointer;
}

.follow-list {
  background-color:#f4f8ff;
  flex:1 1 auto;
}