.follow-toolbar {
  background-color:#fff;
  text-align:center;
  font-size:1.4em;
  padding:10px 0px;
}

.follow-toolbar ul {
  list-style-type: none;
  padding:0px;
  margin:0px;
  border-bottom:2px solid #ddd;
}

.follow-toolbar li {
  display:inline-block;
  width:24%;
  padding:5px 0px;
 
  box-sizing:border-box;
  cursor:pointer;
}

.follow-toolbar li:last-child {
  border-right:none;
}

.follow-toolbar li span {
  font-size: 13px;
}

.follow-toolbar li:hover {
  color:#2f73e0;
}
.follow-toolbar li.active {
  color:#2f73e0;
}