<div class="container">
  <h3>Edit page</h3>
  <form (ngSubmit)="onSubmit()" #pageForm="ngForm">
    <div class="form-group" [class.has-error]="name.invalid && name.touched">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" 
        [(ngModel)]="page.name" name="name" required #name="ngModel" maxlength="60">
      <div *ngIf="name.errors && name.touched">
        <span [class.hidden]="!name.errors.required"  class="help-block">Name is required</span>
        <span [class.hidden]="!name.errors.maxlength"  class="help-block">
          Name cannot be more than 60 characters long.
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="participant">Can perform at an event</label>
      <input type="checkbox" id="participant" [(ngModel)]="page.participant" name="participant" />
    </div>
    <div class="form-group">
      <label for="production">Can produce events</label>
      <input type="checkbox" id="production" [(ngModel)]="page.production" name="production" />
    </div>
    <div class="form-group" [class.has-error]="city.invalid && city.touched">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" placeholder="City" [(ngModel)]="page.city" name="city" required #city="ngModel">
      <span [class.hidden]="city.valid || city.pristine"  class="help-block">City is required</span>
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <select class="form-control" id="state" [(ngModel)]="page.state" name="state">
        <option *ngFor="let state of states" [value]="state.abbreviation">{{state.name}}</option>
      </select>
    </div>
    <div class="form-group" [class.has-error]="postalcode.invalid && postalcode.touched">
      <label for="postalcode">Postal code</label>
      <input type="text" class="form-control" id="postalcode" placeholder="Postal code" [(ngModel)]="page.postalcode" name="postalcode" required #postalcode="ngModel">
      <span [class.hidden]="postalcode.valid || postalcode.pristine"  class="help-block">Postal code is required</span>
    </div>
    <div class="form-group" [class.has-error]="slug.invalid">
      <label for="slug">Slug</label>
      <input type="text" class="form-control" id="slug" placeholder="Slug" [(ngModel)]="page.slug" name="slug"
        maxlength="60" #slug="ngModel">
        <span class="help-block">Slug cannot be more than 60 characters long.</span>
    </div>
    <div class="form-group">
      <label for="phone">Phone number</label>
      <input type="text" class="form-control" id="phone" placeholder="Phone number" [(ngModel)]="page.phone" name="phone">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="page.email" name="email">
    </div>
    <div class="form-group" [class.has-error]="tagline.invalid">
      <label for="tagline">Tagline</label>
      <input type="text" class="form-control" id="tagline" placeholder="Tagline" [(ngModel)]="page.tagline" name="tagline"
        maxlength="50" #tagline="ngModel">
      <span class="help-block">Tagline cannot be more than 50 characters long.</span>
    </div>
    <div class="form-group" [class.has-error]="summary.invalid">
      <label for="summary">Summary</label>
      <input type="text" class="form-control" id="summary" placeholder="Summary" [(ngModel)]="page.summary" 
        name="summary" maxlength="140" #summary="ngModel">
      <span class="help-block">Summary cannot be more than 140 characters long.</span>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" placeholder="Description" [(ngModel)]="page.description" name="description">
    </div>
    <div class="form-group">
      <label for="public">Public</label>
      <input type="checkbox" id="public" [(ngModel)]="page.public" name="public" />
    </div>
    <div *ngIf="meService.hasPageConfirm();else noConfirm" class="form-group">
      <label for="confirmed">Confirmed</label>
      <input type="checkbox" id="confirmed" [(ngModel)]="page.confirmed" name="confirmed">
    </div>
    <ng-template #noConfirm><p>After saving, this page will need to be confirmed by an admin.</p></ng-template>

    <button type="submit" class="btn btn-success" [disabled]="!pageForm.form.valid">Submit</button>
  </form>
  <button class="btn btn-danger" (click)="deletePage()">Delete</button>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>