<div class="main-content white">

<div class="backstagenav">
  <ul>
        <li *ngIf="meService.hasEventEdit()">
          <a routerLink="/events/editable">[Events]</a>
        </li>
        <li *ngIf="meService.hasPageEdit()">
          <a routerLink="/pages/editable">[Pages]</a>
        </li>
        <li *ngIf="meService.hasPageEdit()">
          <a routerLink="/shows/editable">[Shows]</a>
        </li>
        <li *ngIf="meService.hasVenueEdit()">
          <a routerLink="/venues/editable">[Venues]</a>
        </li>
  </ul>
</div>

<h2>Pages</h2>
<a *ngIf="meService.hasPageCreate()" [routerLink]="['/page/create']"><button class="btn btn-primary">Create page</button></a>
<p>&nbsp;</p>
<label>
  Order by:
</label>
<select #orderBy (change)="setOrderBy(orderBy.value)">
  <option value="name">Name</option>
  <option value="city">City</option>
  <option value="likes">Likes</option>
  <option value="events_count">Events</option>
</select>

<label>
  Public:
</label>
<select #public (change)="setPublic(public.value)">
  <option value="">All</option>
  <option value="public">Public</option>
  <option value="private">Private</option>
</select>

<label>
  Confirmed:
</label>
<select #confirmed (change)="setConfirmed(confirmed.value)">
  <option value="">All</option>
  <option value="confirmed">Confirmed</option>
  <option value="unconfirmed">Unconfirmed</option>
</select>
<table class="table table-bordered table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th></th>
    <th>Confirm</th>
  </tr>
  <tr *ngFor="let page of pages">
    <td>
      <img class="image-micro" src="{{ page.imageIcon }}">
    </td>
    <td>
      <a [routerLink]="['/page/edit', page.id]">
        {{page.name}}
      </a>
    </td>
    <td><a [routerLink]="['/page',page.id]"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
    <td><button *ngIf="!page.confirmed" (click)="confirmPage(page)" class="btn btn-primary">Confirm</button></td>
  </tr>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <span aria-hidden="true" (click)="getPagesEditable(pagination.prevPage())">&laquo; Previous</span>
    </li>
    <li *ngFor="let number of pagination.pageList" [class.active]="number === pagination.currentPage" (click)="getPagesEditable(number)">
      {{number}}
    </li>
    <li>
      <span aria-hidden="true" (click)="getPagesEditable(pagination.nextPage())">Next &raquo;</span>
    </li>
  </ul>
</nav>
</div>