<div class="main-content white">
<p>&nbsp;</p>
<div class="container">
  <div *ngIf="page">

  <ul class=item-list>
    <li *ngIf="page" class="pagedetail-item-grid list-item">
      <div class="pagedetail-image-container-container">
        <div class="pagedetail-image-container">
          <img class="pagedetail-image img-responsive center-block" src="{{ page.imageLg }}">
        </div>
      </div>
      <h3 class="pagedetail-name"><a [routerLink]="['/page',page.id]">{{ page.name }}</a></h3>
      
      <div class="pagedetail-info">

	    <p>From: {{page.city}}</p>

	    <p>also: backgroundurl, categoriesjson</p>

		<p class="pagedetail-tagline">{{ page.tagline }}</p>
		<p class="pagedetail-summary">{{ page.summary }}</p>
		<p class="pagedetail-description">{{ page.description }}</p>

      </div>


      <div *ngIf="page.pyfslikeCount > 0; else noLikers" class="pagedetail-liked-container">
        <span class="mbt-blue">
          {{page.likesCount}} Likes
          <span *ngIf="page.pyfslikeCount > 0;"> &bull; {{page.pyfslikeCount}} Pyfs</span>
        </span>
        <ul class="likers">
          <li *ngFor="let pyf of page.pyfslike | slice:0:8; let i=index" class="inline-images liker">
            <img src="{{pyf.avatar}}" [style.z-index]="50 - i" title="{{pyf.name}}">
          </li>
        </ul>
      </div>

      <ng-template #noLikers>
        <div class="pagedetail-liked-container">
          <span class="mbt-blue">
            (no likes yet..)
          </span>
        </div>
      </ng-template>




      <div class="pagedetail-interested-container">
        <button [ngClass]="{'btn-primary':page.iLike,'active':page.iLike}" class="btn btn-default" (click)="likeItem()">
          {{ page.iLike ? 'Liked' : 'Like?' }}
        </button>
      </div>
    </li>
  </ul>

  <ng-container *ngIf="page.eventsAsParticipantCurrent.length > 0">
    <h4 >Appearing at:</h4>
    <ul class="item-list">
       <li *ngFor="let event of page.eventsAsParticipantCurrent" class="event-item-grid list-item">
        <div class="event-image-container item-tallimage-container">
          <img class="item-image img-responsive center-block" src="{{ event.imageSm }}" title="{{ event.name }}">
        </div>
        <h3 class="event-name">
                <a [routerLink]="['/event',event.id]">{{ event.name }}</a>
        </h3>    

        <p class="event-venue">
          <a *ngIf="event.venue_id; else elseBlock" [routerLink]="['/venue',event.venue_id]">{{ event.venue_name }}</a>
          <ng-template #elseBlock>{{ event.venue_name }}</ng-template>
        </p>
        <ul class="event-info">
          <li>{{ event.local_start | dateFormatter:'dddd, MMMM D' }}</li>
        </ul>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="page.eventsAsProducerCurrent.length > 0">
    <h4 >Producing:</h4>
    <ul class="item-list">
       <li *ngFor="let event of page.eventsAsProducerCurrent" class="event-item-grid list-item">
        <div class="event-image-container item-tallimage-container">
          <img class="item-image img-responsive center-block" src="{{ event.imageSm }}" title="{{ event.name }}">
        </div>
        <h3 class="event-name">
                <a [routerLink]="['/event',event.id]">{{ event.name }}</a>
        </h3>    

        <p class="event-venue">
          <a *ngIf="event.venue_id; else elseBlock" [routerLink]="['/venue',event.venue_id]">{{ event.venue_name }}</a>
          <ng-template #elseBlock>{{ event.venue_name }}</ng-template>
        </p>
        <ul class="event-info">
          <li>{{ event.local_start | dateFormatter:'dddd, MMMM D' }}</li>
        </ul>
      </li>
    </ul>
  </ng-container>

  </div>

  <button class="btn btn-primary" (click)="goBack()">Back</button>
</div>
</div>