<div class="main-content white">
  <h2>Edit account</h2>
  
  <div *ngIf="message" class="alert alert-info" role="alert">{{message}}</div>
  <label>**SUPER HIDDEN ROLE CHANGER FOR TESTING PURPOSES:</label>
  <select [(ngModel)]="role" name="role">
    <option value="superadmin">Super admin</option>
    <option value="admin">Admin</option>
    <option value="mastereditor">Master editor</option>
    <option value="contributor">Contributor</option>
    <option value="nothing">Nothing</option>
  </select>
  <button class="btn btn-primary" (click)="saveRole()">Save</button>
  <hr />
  <br />

  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <!--
    <div class="form-group" [class.has-error]="name.invalid && name.touched">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" 
        [(ngModel)]="user.name" name="name" required #name="ngModel" maxlength="60">
      <div *ngIf="name.errors && name.touched">
        <span [class.hidden]="!name.errors.required"  class="help-block">Name is required</span>
        <span [class.hidden]="!name.errors.maxlength"  class="help-block">
          Name cannot be more than 60 characters long.
        </span>
      </div>
    </div>
    <div class="form-group" [class.has-error]="username.invalid && username.touched">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" 
        [(ngModel)]="user.username" name="username" required #username="ngModel" maxlength="60">
      <div *ngIf="username.errors && username.touched">
        <span [class.hidden]="!username.errors.required"  class="help-block">Username is required</span>
        <span [class.hidden]="!username.errors.maxlength"  class="help-block">
          Username cannot be more than 60 characters long.
        </span>
      </div>
    </div>
    -->

    <label for="main-image">Image</label>
    <input id="main-image" type="file" (change)="fileChange(image)" name="image" #image /><br />
    <span class="help-block">Recommended size at least 500px by 500px</span>
    <img class="preview-image" *ngIf="(user.imageUrl || user.avatar) && !previewImage" src="{{user.imageSm || user.avatar}}" />
    <img class="preview-image" *ngIf="previewImage" src="{{previewImage}}" />

    <div class="form-group" [class.has-error]="city.invalid && city.touched">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" placeholder="City" [(ngModel)]="user.city" name="city" required #city="ngModel">
      <span [class.hidden]="city.valid || city.pristine"  class="help-block">City is required</span>
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <select class="form-control" id="state" [(ngModel)]="user.state" name="state">
        <option *ngFor="let state of states" [value]="state.abbreviation">{{state.name}}</option>
      </select>
    </div>

    <div class="form-group" [class.has-error]="postalcode.invalid && postalcode.touched">
      <label for="postalcode">Postal code</label>
      <input type="text" class="form-control" id="postalcode" placeholder="Postal code" [(ngModel)]="user.postalCode" name="postalcode" required #postalcode="ngModel">
      <span [class.hidden]="postalcode.valid || postalcode.pristine"  class="help-block">Postal code is required</span>
    </div>

    <div class="form-group">
      <label for="neighborhood">Neighborhood</label>
      <input type="text" class="form-control" id="neighborhood" placeholder="Neighborhood" [(ngModel)]="user.neighborhood" name="neighborhood" #neighborhood="ngModel">
    </div>
    
    <div class="form-group">
      <label for="bio">Bio</label>
      <textarea id="bio" placeholder="Bio" [(ngModel)]="user.bio" name="bio"></textarea>
    </div>

    <div class="form-group">
      <label for="privacy-likes">Privacy likes</label>
      <select id="privacy-likes" [(ngModel)]="user.privacyLikes" name="privacy_likes">
        <option value="2">Public</option>
        <option value="1">Followers only</option>
        <option value="0">Only me</option>
      </select>
    </div>
    <div class="form-group">
      <label for="privacy-events">Privacy events</label>
      <select id="privacy-events" [(ngModel)]="user.privacyEvents" name="privacy_events">
        <option value="2">Public</option>
        <option value="1">Followers only</option>
        <option value="0">Only me</option>
      </select>
    </div>
    <div class="form-group">
      <label for="privacy-pyf">Privacy pyfs</label>
      <select id="privacy-pyf" [(ngModel)]="user.privacyPyf" name="privacy_pyf">
        <option value="2">Public</option>
        <option value="1">Followers only</option>
        <option value="0">Only me</option>
      </select>
    </div>

    <div class="form-group">
      <label for="auto-followers">Automatically accept follow requests</label>
      <input type="checkbox" id="auto-followers" [(ngModel)]="user.autoAcceptFollows" name="auto_followers" />
    </div>

    <ng-template #noConfirm><p>After saving, this user will need to be confirmed by an admin.</p></ng-template>

    <button type="submit" class="btn btn-success" >Submit</button>
  </form>
  <a [routerLink]="['/user/delete', user.id]">
    <button class="btn btn-danger">Delete</button>
  </a>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>