.event-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.event-item {
  margin: .5em 0;
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
}

.event-item:last-child {
  border-bottom: none;
}

.event-details-container ul {
  color:#000;
  list-style-type:none;
  padding:0;
}


@supports (display: flex) {
  .event-item {
    display:flex;
    flex-direction: row;
  }
  .event-item p {
    padding:0px 0px 5px;
  }
  .event-details-container {
    padding:0px 2px;
  }
  
  .event-details-container p {
    color:#000;
    font-weight:bold;
  }
  .event-details-container p:last-child {
    color:#333;
    font-weight:normal;
    margin-top:5px;
  }

  .event-image-container {
    padding:0px 5px;
    max-height:200px;
    overflow:hidden;
  }
  .event-image {
    width:118px;
  }
  
  @supports (display: grid) {
    @media screen and (min-width: 800px) {
      

    }
  }
}

.event-item {
        display: grid;
        border:1px solid #000;
        border-collapse:collapse;
        grid-column-gap: 10px;
        grid-template-columns: 150px 195px 100px auto 100px;
        grid-template-rows: 50px 50px 50px 50px 50px;
        grid-template-areas:
          "blockeventimage blockeventname blockeventname blockeventname blockeventinfo "
          "blockeventimage blockeventvenue blockeventvenue blockeventvenue blockeventinfo "
          "blockeventimage blockeventdescription blockeventdescription blockeventdescription blockeventinfo "
          "blockeventimage blockeventparticipants blockeventparticipants blockeventparticipants blockeventparticipants "
          "blockeventimage blockeventgoing blockeventgoing blockeventgoing blockeventgoing "
          ;
      }

      .event-image-container {
        grid-area: blockeventimage;
      }

      .event-title {
        grid-area: blockeventname;
      }

      .event-venue {
        grid-area: blockeventvenue;
      }

      .event-description {
        grid-area:blockeventdescription;
      }
      .event-details-container {
        grid-area:blockeventinfo;
      }