<div class="main-content white">
<h2>Shows</h2>
<a *ngIf="meService.hasPageCreate()" [routerLink]="['/show/create']"><button class="btn btn-primary">Create show</button></a>
<p>&nbsp;</p>
<label>
  Order by:
</label>
<select #orderBy (change)="setOrderBy(orderBy.value)">
  <option value="name">Name</option>
  <option value="likes">Likes</option>
  <option value="events_count">Events</option>
</select>

<label>
  Public:
</label>
<select #public (change)="setPublic(public.value)">
  <option value="">All</option>
  <option value="public">Public</option>
  <option value="private">Private</option>
</select>

<label>
  Confirmed:
</label>
<select #confirmed (change)="setConfirmed(confirmed.value)">
  <option value="">All</option>
  <option value="confirmed">Confirmed</option>
  <option value="unconfirmed">Unconfirmed</option>
</select>
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Confirm</th>
  </tr>
  <tr *ngFor="let show of shows">
    <td>
      <a [routerLink]="['/show/edit', show.id]">
        {{show.name}}
      </a>
    </td>
    <td>{{show.description}}</td>
    <td><button *ngIf="!show.confirmed" (click)="confirmShow(show)" class="btn btn-primary">Confirm</button></td>
  </tr>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <span aria-hidden="true" (click)="getShowsEditable(pagination.prevPage())">&laquo; Previous</span>
    </li>
    <li *ngFor="let number of pagination.pageList" [class.active]="number === pagination.currentPage" (click)="getShowsEditable(number)">
      {{number}}
    </li>
    <li>
      <span aria-hidden="true" (click)="getShowsEditable(pagination.nextPage())">Next &raquo;</span>
    </li>
  </ul>
</nav>
</div>