<div class="main-content white">
  <h3>Coming soon</h3>
  <div *ngIf="message" class="alert alert-info" role="alert">{{message}}</div>
  <label>Role</label>
  <select [(ngModel)]="role" name="role">
    <option value="superadmin">Super admin</option>
    <option value="admin">Admin</option>
    <option value="mastereditor">Master editor</option>
    <option value="contributor">Contributor</option>
    <option value="nothing">Nothing</option>
  </select>
  <button *ngIf="isOwner">Only the page owner can see this button</button>
  <button class="btn btn-primary" (click)="saveRole()">Save</button>
</div>