<div class="main-content white">
<h2>Users</h2>
<p>&nbsp;</p>
<label>
  Order by:
</label>
<select #orderBy (change)="setOrderBy(orderBy.value)">
  <option value="name">Name</option>
  <option value="email">Email</option>
  <option value="created_at">Created at</option>
  <option value="is_banned">Banned</option>
</select>

<label>
  Confirmed:
</label>
<select #confirmed (change)="setConfirmed(confirmed.value)">
  <option value="">All</option>
  <option value="confirmed">Confirmed</option>
  <option value="unconfirmed">Unconfirmed</option>
</select>
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Created at</th>
    <th>Banned</th>
    <th>Confirm</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>
      <a [routerLink]="['/user/edit', user.id]">
        {{user.name}}
      </a>
    </td>
    <td>{{user.email}}</td>
    <td>{{user.created_at}}</td>
    <td><button *ngIf="user.is_banned" (click)="unbanUser(user)" class="btn btn-danger">Unban</button></td>
    <td><button *ngIf="!user.confirmed" (click)="confirmUser(user)" class="btn btn-primary">Confirm</button></td>
  </tr>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <span aria-hidden="true" (click)="getUsersEditable(pagination.prevPage())">&laquo; Previous</span>
    </li>
    <li *ngFor="let number of pagination.pageList" [class.active]="number === pagination.currentPage" (click)="getUsersEditable(number)">
      {{number}}
    </li>
    <li>
      <span aria-hidden="true" (click)="getUsersEditable(pagination.nextPage())">Next &raquo;</span>
    </li>
  </ul>
</nav>
</div>