<div class="container">
  <h3>Edit venue</h3>

  <div class="pac-card" id="pac-card">
    <div>
      <div id="title">Search</div>
    </div>
    <div id="pac-container">
      <input id="pac-input" type="text" [value]="pacInput" placeholder="Enter a Venue">
    </div>
  </div>
  <div id="venue-map"></div>
  <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name"  class="title"></span><br>
    <span id="place-address"></span>
  </div>

  <form (ngSubmit)="onSubmit()" #venueForm="ngForm">
    <div class="form-group" [class.has-error]="name.invalid && name.touched">
      <label for="name">Name *</label>
      <input type="text" class="form-control" id="name" placeholder="Name" 
        [(ngModel)]="venue.name" name="name" required #name="ngModel" maxlength="60">
      <div *ngIf="name.errors  && name.touched">
        <span [class.hidden]="!name.errors.required"  class="help-block">Name is required</span>
        <span [class.hidden]="!name.errors.maxlength"  class="help-block">
          Name cannot be more than 60 characters long.
        </span>
      </div>
    </div>
    <label for="venue-image">Image</label>
    <input id="venue-image" type="file" (change)="fileChange(image)" name="image" #image />
    <br />
    <div class="form-group">
      <label for="street-adress">Street address *</label>
      <input type="text" class="form-control" id="street-address" placeholder="Street address" 
        [(ngModel)]="venue.streetAddress" name="streetAddress" required #streetAddress="ngModel">
      <div *ngIf="streetAddress.errors  && streetAddress.touched">
        <span [class.hidden]="!streetAddress.errors.required"  class="help-block">Street address is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="city">City *</label>
      <input type="text" class="form-control" id="city" placeholder="City" 
        [(ngModel)]="venue.city" name="city" required #city="ngModel">
      <div *ngIf="city.errors  && city.touched">
        <span [class.hidden]="!city.errors.required"  class="help-block">City is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="state">State *</label>
      <select class="form-control" #state="ngModel" id="state" [(ngModel)]="venue.state" name="state" required>
        <option *ngFor="let state of states" [value]="state.abbreviation">{{state.name}}</option>
      </select>
      <div *ngIf="state.errors  && state.touched">
        <span [class.hidden]="!state.errors.required"  class="help-block">State is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="postal-code">Postal code *</label>
      <input type="text" class="form-control" id="postal-code" placeholder="Postal code" 
        [(ngModel)]="venue.postalCode" name="postalCode" required #postalCode="ngModel">
      <div *ngIf="postalCode.errors  && postalCode.touched">
        <span [class.hidden]="!postalCode.errors.required"  class="help-block">Postal code is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="timezone">Timezone *</label>
      <select [(ngModel)]="venue.localTz" #localTz="ngModel" class="form-control" id="timezone" name="timezone" required>
        <option *ngFor="let timezone of timezones" [value]="timezone.id">{{timezone.name}}</option>
      </select>
      <div *ngIf="localTz.errors  && localTz.touched">
        <span [class.hidden]="!localTz.errors.required"  class="help-block">Timezone is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="neighborhood">Neighborhood</label>
      <input type="text" class="form-control" id="neighborhood" placeholder="Neighborhood" 
        [(ngModel)]="venue.neighborhood" name="neighborhood" #neighborhood="ngModel">
      <div *ngIf="neighborhood.errors  && neighborhood.touched">
        <span [class.hidden]="!neighborhood.errors.required"  class="help-block">Neighborhood is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="website">Website</label>
      <input type="text" class="form-control" id="website" placeholder="Website" 
        [(ngModel)]="venue.website" name="website" #website="ngModel">
    </div>
    <div class="form-group">
      <label for="phone">Phone number</label>
      <input type="text" class="form-control" id="phone" placeholder="Phone number" [(ngModel)]="venue.phone" name="phone">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="venue.email" name="email">
    </div>
    <div class="form-group" [class.has-error]="slug.invalid">
      <label for="slug">Slug</label>
      <input type="text" class="form-control" id="slug" placeholder="Slug" [(ngModel)]="venue.slug" name="slug"
        maxlength="60" #slug="ngModel">
        <span class="help-block">Slug cannot be more than 60 characters long.</span>
    </div>
    <div class="form-group" [class.has-error]="tagline.invalid">
      <label for="tagline">Tagline</label>
      <input type="text" class="form-control" id="tagline" placeholder="Tagline" [(ngModel)]="venue.tagline" name="tagline"
        maxlength="50" #tagline="ngModel">
      <span class="help-block">Tagline cannot be more than 50 characters long.</span>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" placeholder="Description" [(ngModel)]="venue.description" name="description">
    </div>
    <div class="form-group">
      <label for="public">Public</label>
      <input type="checkbox" id="public" [(ngModel)]="venue.public" name="public" />
    </div>
    <div *ngIf="meService.hasPageConfirm();else noConfirm" class="form-group">
      <label for="confirmed">Confirmed</label>
      <input type="checkbox" id="confirmed" [(ngModel)]="venue.confirmed" name="confirmed">
    </div>
    <ng-template #noConfirm><p>After saving, this page will need to be confirmed by an admin.</p></ng-template>

    <button type="submit" class="btn btn-success" [disabled]="!venueForm.form.valid">Submit</button>
  </form>
  <button class="btn btn-danger" (click)="deleteVenue()">Delete</button>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>