<nav class="clearfix">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="brand">
      <img class="navbar-logo" alt="Brand" src="assets/images/mbt_bw.png" style="">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="inline-list navbar-left">
        <li *ngIf="loggedIn" routerLinkActive="active"><a routerLink="events/today">Today</a></li>
        <li *ngIf="!loggedIn" routerLinkActive="active"><a routerLink="events">Events</a></li>
        <li routerLinkActive="active"><a routerLink="explore">Explore</a></li>
      </ul>

      <ul class="inline-list navbar-right">
        <li><a href="javascript:void(0);" (click)="mobile.active=false;selectLocation()"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{locationService.getLocationName()}}</a></li>
        <li><a routerLink="login" *ngIf="!loggedIn">Login/Sign up</a></li>

        <li *ngIf="loggedIn" class="dropdown">
          <a href="javascript:void(0);" #user (click)="user.active = !user.active" class="dropdown-toggle"
           data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
           <img class="user-image" src="{{userimage}}" /> {{ username }}<span class="caret"></span>
          </a>

          <ul class="dropdown-menu" [hidden]="true">
            <li><a routerLink="/profile" (click)="user.active = false">My profile</a></li>

            <ng-container *ngIf="meService.hasBackstage()">
              <li><a routerLink="/backstage" (click)="user.active = false">Backstage</a></li>
              <li role="separator" class="divider"></li>
            </ng-container>

            <li><a href="javascript:void(0);" (click)="logout()">Logout</a></li>
          </ul>

        </li>
      </ul>
</nav>
<!--
<div class="cd-popup" [class.is-visible]="locationModalVisible" role="alert">
	<div class="cd-popup-container">
		<p>We need your location to get the events closest to you.</p>
    <div *ngFor="let error of errors" style="color:#CC0000;padding-bottom:1em;">{{errors}}</div>
    <div id="map"></div>
    <div class="radius-container">
      <label for="radius">Distance</label>
      <select [(ngModel)]="dist" (change)="distanceChanged()">
        <option value="0.5">.5</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
      miles
    </div>
		<ul class="cd-buttons">
			<li><div (click)="saveLocation()">Save</div></li>
			<li><div (click)="locationModalVisible = false">Cancel</div></li>
		</ul>
		<div class="cd-popup-close img-replace" (click)="locationModalVisible = false">Close</div>
	</div> 
</div>--> <!-- cd-popup -->

<app-location-picker *ngIf="locationPickerVisible" [(visible)]="locationPickerVisible" ></app-location-picker>

<router-outlet *ngIf="!locationPickerVisible"></router-outlet>
