<nav class="main-nav clearfix">
    <div class="nav-content">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div #user class="brand">
        <img class="navbar-logo" alt="Brand" src="assets/images/logo_bluebeta.png" style="">
      </div>

      <div #mobile class="nav-toggle" (click)="mobile.active = !mobile.active;user.active=false">&#9776;</div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      
      <div [hidden]="!mobile.active" class="navbar-items clearfix">
        <ul class="inline-list navbar-left">
          <li *ngIf="loggedIn" routerLinkActive="active"><a routerLink="events/today" (click)="mobile.active=false;user.active=false;locationPickerVisible=false">Today</a></li>
          <li *ngIf="!loggedIn" routerLinkActive="active"><a routerLink="events" (click)="mobile.active=false;user.active=false;locationPickerVisible=false">Today</a></li>
          <li *ngIf="loggedIn" routerLinkActive="active"><a routerLink="events/current" (click)="mobile.active=false;user.active=false;locationPickerVisible=false">Current</a></li>
          <li routerLinkActive="active"><a routerLink="explore" (click)="mobile.active=false;user.active=false;locationPickerVisible=false">Explore</a></li>
        </ul>

        <ul class="inline-list navbar-right">
          <li><a href="javascript:void(0);" (click)="mobile.active=false;user.active=false;selectLocation()"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{locationService.getLocationName()}}</a></li>
          <li *ngIf="!loggedIn" (click)="mobile.active=false;user.active=false;locationPickerVisible=false"><a routerLink="login">Login/Sign up</a></li>

          <li *ngIf="loggedIn" class="dropdown nav-user">
            <a href="javascript:void(0);"  (click)="user.active = !user.active;locationPickerVisible=false" class="dropdown-toggle">
            <img class="user-image" src="{{userimage}}" /> {{ username }} 
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>

            <ul class="dropdown-menu" [hidden]="!user.active">
              <li><a href="javascript:void(0)" (click)="user.active = false; mobile.active=false;redirectToMyProfile();locationPickerVisible=false"><i class="fa fa-fw fa-user-circle" aria-hidden="true"></i> My profile</a></li>

              <ng-container *ngIf="meService.hasBackstage()">
                <li><a routerLink="/backstage" (click)="user.active = false; mobile.active=false;locationPickerVisible=false"><i class="fa fa-fw fa-user-secret" aria-hidden="true"></i> Backstage</a></li>
              </ng-container>
              <li role="separator" class="divider"></li>
              <li><a routerLink="/profile/edit" (click)="user.active = false; mobile.active=false;locationPickerVisible=false"><i class="fa fa-fw fa-pencil" aria-hidden="true"></i> Edit profile</a></li>
              <li><a href="javascript:void(0);" (click)="logout();user.active = false; mobile.active=false;locationPickerVisible=false"><i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            </ul>

          </li>
        </ul>
      </div>
    </div>
</nav>
<!--
<div class="cd-popup" [class.is-visible]="locationModalVisible" role="alert">
	<div class="cd-popup-container">
		<p>We need your location to get the events closest to you.</p>
    <div *ngFor="let error of errors" style="color:#CC0000;padding-bottom:1em;">{{errors}}</div>
    <div id="map"></div>
    <div class="radius-container">
      <label for="radius">Distance</label>
      <select [(ngModel)]="dist" (change)="distanceChanged()">
        <option value="0.5">.5</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
      miles
    </div>
		<ul class="cd-buttons">
			<li><div (click)="saveLocation()">Save</div></li>
			<li><div (click)="locationModalVisible = false">Cancel</div></li>
		</ul>
		<div class="cd-popup-close img-replace" (click)="locationModalVisible = false">Close</div>
	</div> 
</div>--> <!-- cd-popup -->

<app-location-picker *ngIf="locationPickerVisible" [(visible)]="locationPickerVisible" ></app-location-picker>

<router-outlet *ngIf="!locationPickerVisible"></router-outlet>
